
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

* {
    box-sizing: border-box;
}

.oculto {
    display: none !important;
}

.visible {
    display: block;
}

.contenedor-principal {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url('../../../Assets/admi.png') no-repeat center center/cover; 
}

.seccion-informativa, .seccion-formulario {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}


.seccion-informativa {
    justify-content: space-between;
    color: white;
}

.logo-superior {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.logo-superior img {
    width: auto; 
    height: 60px;
    margin-right: 10px;
}

.texto-principal h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 12rem;
    margin-left: 4rem;
}
.texto-principal .resaltado {
    color: #ff4500;
}


.seccion-formulario {
    justify-content: center;
    align-items: center;
}

.formulario-contenedor {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 450px;

}

.formulario-contenedor h2 {
    text-align: center;
    color: #ff4500;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

/* pasos*/
.indicador-pasos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.paso {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #ddd;
    cursor: pointer;
    transition: all 0.3s ease;
}
.paso.activo {
    background-color: #ff4500;
    border-color: #ff4500;
    color: white;
}
.linea-pasos {
    width: 50px;
    height: 2px;
    background-color: #ddd;
}

.campo-formulario {
    margin-bottom: 16px;
}
.campo-formulario label {
    display: block;
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 14px;
}
.campo-formulario input[type="text"],
.campo-formulario input[type="email"],
.campo-formulario input[type="tel"],
.campo-formulario input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}


.horarios-contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.campo-horario {
    width: 50%;
}
.campo-horario label {
     display: block;
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 14px;
}
.input-tiempo {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;
}
.input-tiempo input, .input-tiempo select {
    border: none;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    -moz-appearance: textfield;
}
.input-tiempo input::-webkit-outer-spin-button,
.input-tiempo input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-hora { width: 40px; }
.input-minuto { width: 45px; }
.input-periodo {
    font-weight: 700;
    color: #ff4500;
}
.input-tiempo span {
    font-weight: 700;
    margin: 0 5px;
}


.contenedor-subida-archivos {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.caja-subida {
    width: 50%;
    border: 2px dashed #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.caja-subida:hover {
    border-color: #ff4500;
    background-color: #fff8f5;
}
.icono-subida {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.icono-subida img {
    width: 40px; 
    height: 40px;
}
.caja-subida label {
    font-size: 12px;
    font-weight: 700;
    color: #666;
}


.boton-principal {
    width: 100%;
    padding: 15px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family:'Montserrat', sans-serif;
    transition: background-color 0.3s ease;
}
.boton-principal:hover {
    background-color: #e03e00;
}
.boton-principal img {
    width: 16px; 
    height: 16px;
}