:root{
    --fontfamily: "Montserrat", sans-serif;
    --primarycolor: #FF502D;
    --secondarycolor: #FC0203; 
}

*{
    box-sizing: border-box;
    margin: 0;
}

.nav{
    background-color: white;
    border-bottom: 3px solid #EAEAEA;
    font-family: var(--fontfamily);
    font-weight: bolder;
}

.nav_container{
    width: 90%;
    margin: 0 auto;
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center; 
    gap: 10px;
}

.logo_text {
    order: 2; 
    color: var(--primarycolor);
    font-weight: bold;
}

.logo_img {
    order: 1; 
    height: 38px;
}

.links {
    display: flex;
    align-items: center;
    gap: 178px; 
}

.nav_link {
    display: flex;
    align-items: center;
    gap: 4px; 
    color: var(--primarycolor);
    text-decoration: none;
    font-weight: 500;
}

.nav_img {
    width: 24px;
}